<% content_for :title, "Games" %>

<div class="games">
  <% if notice.present? %>
    <p class="games__flash"><%= notice %></p>
  <% end %>

  <div class="games-grid" id="games">
    <%= render @games %>
  </div>
</div>
